body {
    font-family: Tahoma, sans-serif;
    background-color: bl;
}

nav {
    display: flex;
    justify-content: center;
    position: static;
}

.logo-container {
    display: flex;
    justify-content: start;
    top: 5px;
    left: 5px;
    z-index: 1000;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 15px;
    margin: 0;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}

.logo img {
    display: flex;
    width: 200px;
    height: auto;
}

.carousel {
    width: 20%;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-item img {
    width: 20%;
    height: 20%;
    object-fit: cover;/
}